@charset "utf-8";

/* スマホ版 */

@media screen and (max-width: 850px) {
  /* TOPページ */
  .pc_nav {
    display: none;
  }

  .fv {
    flex-direction: column;
    margin-top: 70px;
  }

  .airplane {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }

  .heart {
    width: 24px;
    left: 95%;
    display: inline-block; /* 回転させるために必要 */
    transform-origin: center;
    transform: rotate(-15deg);
  }

  .scroll {
    display: none;
  }

  .fv {
    padding: 0 10px 0 10px;
  }

  h1 {
    font-size: 50px;
  }

  .w_letter {
    font-size: 20px;
    margin-top: 16px;
  }

  /* ABOUT */
  #about {
    max-width: 850px;
    margin: 150px auto 0;
    padding: 0 15px 0 15px;
  }

  .message {
    font-size: 22px;
  }

  .message01 {
    display: none;
    margin-bottom: 40px;
  }

  .message01_sp {
    font-size: 14px;
    display: block;
    line-height: 2.75;
    letter-spacing: 0.2em;
    margin: 40px 0;
  }

  span {
    display: inline-block;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  #works {
    margin: 90px auto 0;
    max-width: 850px;
    padding: 0 15px 0 15px;
  }

  .workscontainer {
    flex-direction: column;
  }

  .worksdetail {
    width: 100%;
  }

  #introduction {
    max-width: 850px;
    padding: 80px 4%;
  }

  .introcontainer {
    flex-direction: column;
  }

  .introimg {
    width: 100%;
    height: auto;
    text-align: center;
    margin-right: 0;
  }

  .introimg > img {
    min-width: 200px;
    height: auto;
    /* object-fit: scale-down; */
    object-fit: contain;
  }

  .introtext {
    width: 100%;
    margin: 20px 0;
    padding: 55px 5%;
  }

  .text-with-backgroundgreen {
    font-size: 16px;
  }

  .intromessage {
    font-size: 18px;
  }

  .intromessage01 {
    line-height: 2.2;
  }

  .introcontainer02 > p {
    display: none;
  }

  .introcontainer02 {
    display: flex;
    justify-content: end;
  }

  footer {
    max-width: 850px;
    position: relative;
    margin: 150px auto 0;
    padding: 0 15px 0 10px;
  }

  .pc_nav_footer ul {
    flex-direction: column;
    align-items: flex-start;
  }

  /* ABOUT MEのページ */
  #about_me {
    max-width: 850px;
    margin-bottom: 0px;
    padding: 0 15px 0 15px;
  }

  .about_me_container {
    max-width: 850px;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .lopages_title {
    font-size: 28px;
  }

  #about_me h1:before {
    font-size: 58px;
    top: -15px;
    left: -58px;
  }

  .desiner {
    width: 100%;
  }

  .name {
    letter-spacing: 0.05em;
    margin-top: 15px;
    margin-bottom: 0;
  }

  /* 自己紹介表示順入れ替え */
  .about_me_img {
    display: contents;
  }
  .about_me_text {
    width: 100%;
    display: contents;
  }
  .abtimg_01 {
    width: 100%;
    margin-right: 0;
    order: 1;
  }
  #about_me h2 {
    margin: 38px auto;
    order: 2;
  }
  .about_meshape {
    order: 3;
  }
  .about_me_01 {
    padding: 0 15px 0 15px;
    order: 4;
  }
  .abtimg_02 {
    width: 100%;
    margin-right: 0;
    order: 5;
  }
  .about_me_02 {
    padding: 0 15px 0 15px;
    margin-top: 38px;
    order: 6;
  }
  /* 入れ替えここまで */

  /* スキル */
  #skills {
    max-width: 850px;
    padding: 0 15px 0 15px;
  }

  .skillscontainer {
    flex-direction: column;
  }

  .name02 {
    font-size: 22px;
    letter-spacing: 0.1em;
    margin: 0 auto 40px;
  }

  /* スキル表示順入れ替え */
  .skillsdetail {
    display: contents;
  }
  .skillsimg {
    display: contents;
  }
  .skillsimg img {
    display: none;
  }

  .skillsdetail dl {
    padding: 0 15px 0 15px;
  }

  /* コンタクト */
  #contact {
    max-width: 850px;
    padding: 0 15px 0 15px;
  }

  .contact_text {
    margin: 60px auto;
    display: block;
    width: fit-content;
  }

  .contactshape02 {
    left: -150px; /* 左右からの位置指定 */
    top: -60px; /* 上からの位置指定 */
    width: 300px;
  }

  .contactshape01 {
    right: -200px; /* 左右からの位置指定 */
    top: 600px; /* 上からの位置指定 */
    width: 500px;
  }

  .c-form__item {
    flex-direction: column;
    align-items: center;
    max-width: 850px;
  }

  .c-form__label {
    width: 90%;
  }

  .c-form__input {
    width: 90%;
  }

  /* WORKS 美容室LIFE */
  #works_life,
  #works_bn001 {
    max-width: 850px;
    padding: 0 15px 0 15px;
  }

  .page-logo {
    font-size: 58px;
    top: -24px;
    left: -12px;
  }

  .page-logo-text {
    font-size: 14px;
    top: 10px;
  }

  .lopages_title_works {
    font-size: 26px;
    margin-left: 0;
  }

  .page-logo-text02 {
    margin-left: 0;
  }

  .works_detail_intro {
    max-width: 95%; /* 親要素の幅を調整 */
  }

  .fluid-shape {
    width: 600px;
  }

  /* .works_detail_intro img {
    width: 180%;
    left: -115px;
  } */

  .objective {
    flex-direction: column;
  }

  .objective dt {
    width: 96%;
    max-width: 850px;
    margin-left: 10px;
    margin-bottom: 12px;
  }

  .objective dd {
    width: 96%;
    max-width: 850px;
    margin: 0 10px;
  }

  .footershape {
    right: -200px; /* 左右からの位置指定 */
    top: -200px; /* 上からの位置指定 */
    width: 600px;
  }

  /* works 激旨バーガーバナー */

  .bn_img {
    max-width: 100%;
    object-fit: contain;
  }
}
