@charset "utf-8";

/* スマホ版 */

@media screen and (max-width: 850px) {
  .pc_nav {
    display: none;
  }

  .fv {
    flex-direction: column;
    margin-top: 120px;
  }

  .airplane {
    width: 100%;
  }

  .scroll {
    display: none;
  }

  .fv {
    padding: 0 10px 0 10px;
  }

  h1 {
    font-size: 50px;
  }

  .w_letter {
    font-size: 20px;
    margin-top: 16px;
  }

  /* ABOUT */
  #about {
    max-width: 850px;
    margin: 200px auto 0;
    padding: 0 10px 0 10px;
  }

  .message {
    font-size: 22px;
  }

  .message01 {
    display: none;
  }

  .message01_sp {
    font-size: 14px;
    display: block;
    line-height: 2.75;
    letter-spacing: 0.2em;
    margin-top: 40px;
  }

  span {
    display: inline-block;
  }

  .pc {
    display: none;
  }

  #works {
    max-width: 850px;
    padding: 0 10px 0 10px;
  }

  .workscontainer {
    flex-direction: column;
  }

  .worksdetail {
    width: 100%;
  }

  #introduction {
    max-width: 850px;
  }

  .introcontainer {
    flex-direction: column;
  }
}
