@charset "utf-8";

body {
  background: #ffffff;
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  font-feature-settings: "palt";
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  overflow-x: hidden;
}

/* ヘッダー */
header {
  /* max-width: 1000px; */
  position: relative;
  margin: 0 auto;
}

/* PCのナビ */
.pc_nav {
  margin-top: 40px;
  margin-right: 5%;
}

.pc_nav ul {
  display: flex;
  gap: 55px;
  justify-content: end;
  align-items: center;
}

.pc_nav li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1em;
}

.hmb_container {
  width: 53px;
}

.pc_nav li img {
  padding-bottom: 6px;
  width: 16px;
}

/* ハンバーガーメニュー */
.hamb {
  position: fixed;
  cursor: pointer;
  z-index: 200;
  right: 5%;
  top: 50px;
  width: 23px;
  height: 22px;
  transform: translateY(-50%);
  padding: 15px;
  border-radius: 50px;
  background: #003333;
}

.black-bg ul {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 20%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.black-bg ul li {
  text-align: left;
  padding: 20px 0;
}

.black-bg ul li a {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-left: 5px solid #fff; /*線の設定*/
  padding: 6px 0 1px 15px; /*余白の設定 */
  display: block;
  text-decoration: none;
}

.black-bg li img {
  padding-bottom: 6px;
  width: 18px;
}

.line {
  position: absolute;
  left: 13px;
  width: 27px;
  height: 3px;
  background-color: #ffffff;
  top: 15px;
}

.line:nth-child(2) {
  top: 24px;
}

.line:nth-child(3) {
  top: 33px;
}

.black-bg {
  position: fixed;
  background: #fb7878eb;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.black-bg.open {
  visibility: visible;
  opacity: 1;
  height: 90%;
}

#hamb.active .line {
  background-color: #fff;
}

.black-bg {
  transition: opacity 0.35s, width 0.35s;
}

#hamb.active .line:nth-child(1) {
  transform: translateY(9px) translateX(0) rotate(45deg);
}
#hamb.active .line:nth-child(2) {
  opacity: 0;
  background: #fff;
}
#hamb.active .line:nth-child(3) {
  transform: translateY(-9px) translateX(0) rotate(-45deg);
}
.animation {
  transition: all 0.6s;
}
/* ハンバーガーメニューここまで */

.fv {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 180px auto 0;
  max-width: 1100px;
}

.catchphrase {
  max-width: 50%;
  box-sizing: border-box;
}

.airplane {
  position: relative;
  /* width: 50%; */
  width: 95%;
  margin-left: 20px;
  display: block;
  box-sizing: border-box;
  line-height: 0;
  height: auto;
}

svg#mask {
  width: 95%;
  height: fit-content;
}

/* ==FVの線画アニメ== */
#mask .st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 20; /*線の太さを指定する*/
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500; /* 線の間隔を指定する */
  stroke-dashoffset: 1500; /* 線の位置を指定する */
}

.heart {
  width: 38px;
  /* height: 47px; */
  position: absolute;
  left: 96%;
  bottom: 105%;
  display: block;
}

/* ==↓↓ハートを揺らす== */
.sway {
  animation: floating-x 7.2s ease-in-out infinite alternate-reverse;
}
.target {
  animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
  display: block;
}

@keyframes floating-x {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(20%);
  }
}
@keyframes floating-y {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
/* ==↑↑ハート揺らすここまで== */

.fvshape {
  position: absolute;
  left: -350px; /* 左右からの位置指定 */
  top: -50px; /* 上からの位置指定 */
  z-index: -1;
  width: 700px;
  overflow: hidden;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.075em;
  line-height: 1.4;
  color: #336666;
}

.w_letter {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-top: 16px;
}

/* ABOUT */
.sp {
  display: none;
}

#about {
  max-width: 720px;
  margin: 200px auto 0;
}

#about h2 {
  display: flex;
  flex-direction: column;
}

.subtitle01 {
  font-size: 12px;
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 38px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
  color: #336666;
}

.message {
  font-size: 30px;
  font-weight: 600;
  line-height: 2.5;
  color: #336666;
  letter-spacing: 0.2em;
  margin-top: 40px;
}

.message01 {
  font-size: 16px;
  display: block;
  line-height: 2.75;
  letter-spacing: 0.2em;
  margin: 40px 0;
}

.message01_sp {
  display: none;
}

/* ==↓↓ViewMore== */
.viewmore {
  justify-content: flex-end;
  display: flex;
  gap: 12px;
}

.viewmoretext {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  position: relative;
  top: 2px;
}

.circle-arrow {
  width: 20px;
  height: 20px;
  background-color: #336666;
  border: 1px solid #336666; /* 追加 */
  border-radius: 50%;
  position: relative;
}

.circle-arrow span {
  display: inline-block;
  width: 10px;
  height: 0.7px;
  background-color: #ffffff;
  position: relative;
  top: -8px;
  left: 10px;
  transform: translate(-50%, -50%);
}

.circle-arrow span::after {
  content: "";
  width: 5px;
  height: 0.7px;
  background-color: #ffffff;
  position: absolute;
  top: calc(50% - 0.35px);
  right: 0px;
  transform: rotate(45deg);
  transform-origin: calc(100% - 0.35px) 50%;
}

/* ホバー時のスタイル */
.arrow:hover .viewmore {
  color: #336666; /* テキストの色変更 */
}

.arrow:hover .circle-arrow {
  background-color: #ffffff; /* 背景色を白に変更 */
  border-color: #336666; /* 線の色を緑に変更 */
}

.arrow:hover .circle-arrow span,
.arrow:hover .circle-arrow span::after {
  background-color: #336666; /* 矢印の色を緑に変更 */
}
/* ==↑↑ViewMoreここまで== */

/* WORKS */
#works {
  max-width: 1000px;
  margin: 120px auto 0;
  position: relative;
  /* overflow-x: clip; */
}

#works h2 {
  display: flex;
  flex-direction: column;
}

.worksshape {
  position: absolute;
  right: -500px; /* 左右からの位置指定 */
  top: -100px; /* 上からの位置指定 */
  z-index: -1;
  width: 900px;
  overflow-x: hidden;
}

.workscontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 76px;
}

.worksdetail {
  text-align: center;
  width: 50%;
  margin-top: 0;
  margin-bottom: 100px;
}

.worksimg_banner {
  max-width: 480px;
  height: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.worksimg_banner.square {
  max-width: 280px;
}

.worksimg_banner.rect {
  max-width: 390px;
}

.worksimg_mock {
  max-width: 480px;
  margin: 0 auto;
}

.worksimg_mock > img {
  margin: 0 auto;
}

.works_description {
  text-align: center;
  margin-top: 15px;
}

.text-with-backgroundpink {
  display: inline-block;
  background-color: #ffcccc;
  border-radius: 30px;
  margin: 0 15px 10px 0;
  padding: 5px 10px 5px 10px;
}

/* 私ってこんな人 */
#introduction {
  max-width: 1200px;
  margin: 150px auto 0;
  background: rgba(0, 51, 51, 0.3);
  padding: 95px 4%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.introcontainer {
  display: flex;
}

.introcontainer02 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.introimg {
  margin-right: 5%;
  width: 45%;
}

.introimg > img {
  object-fit: cover;
  height: 100%;
}

.introtext {
  width: 50%;
  background-color: #ffffff;
  padding: 55px 80px;
  box-sizing: border-box;
}

.text-with-backgroundgreen {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.25em;
  display: inline-block;
  background-color: rgba(0, 51, 51, 0.8);
  /* margin: 0 auto; */
  padding: 3px 8px 3px 8px;
}

.intromessage {
  margin: 25px auto 0 0;
  color: #336666;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 1.7em;
}

.intromessage01 {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 2.4;
  margin-top: 25px;
}

/* フッター */
footer {
  max-width: 1200px;
  position: relative;
  margin: 250px auto 0;
}

.footertitle {
  color: #336666;
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: 0.075em;
}

.pc_nav_footer {
  margin-top: 90px;
}

.pc_nav_footer ul {
  display: flex;
  gap: 55px;
  align-items: center;
  padding: 0;
}

.pc_nav_footer li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1em;
}

.pc_nav_footer li img {
  padding-bottom: 6px;
  width: 16px;
}

.copyright {
  margin: 150px auto 50px auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  text-align: right;
}
